---
import Layout from "../layouts/Layout.astro";
import Introduccion from "../components/Introduction.astro";
import Vinilos from "../components/Vinilos.astro";
---

<Layout title="Vinilos de corte | Dani Santos">
	<Introduccion slot="welcomePage" />
	<main slot="main">
		<Vinilos/>
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
