---
import Layout from "../layouts/Layout.astro";
import Introduccion from "../components/Introduction.astro";
import Vinilos from "../components/Vinilos.astro";
import Contacto from "../components/Contacto.astro";
// import Card from '../components/Card.astro';
import Social from "../components/Social.astro";
import Bento from "../components/Bento.astro";
import BentoCard from "../components/BentoCard.astro";
---

<Layout title="Vinilos de corte | Dani Santos">
	<Introduccion slot="welcomePage" />
	<main slot="main">
		<Vinilos>
			<Bento>
				<BentoCard
					slot="slot1"
					title="Metro"
					image="/imgs/metro.jpg"
					url="/1"
					information="Creación de vinilo para la multinacional metro con el fin de arreglar la estética de una de las paradas más icónicas de todo Madrid"
				/>
				<BentoCard
					slot="slot2"
					title="Estanco"
					image="/imgs/estanco.jpeg"
					url="/2"
					information="Creación de vinilo para el estanco de la esquina de mi casa con el fin de arreglar el antiguo cartel que tenían puesto en la fachada."
				/>
				<BentoCard
					slot="slot3"
					title="La Plazuela"
					image="/imgs/plazuelaCuad.jpeg"
					url="/3"
					information="Creado para una papelería de la localidad, con el fin de rotular la furgo de reparto y darle un toque más personalizado."
				/>
				<BentoCard
					slot="slot4"
					title="Algunas Pegatinas!"
					image="/imgs/manny.jpeg"
					url="/4"
					information="algunas pegatinas que he hecho para mi uso personal y para regalar a amigos y familiares."
				/>
			</Bento>
		</Vinilos>
		<Contacto>
			<Social
				link="https://www.instagram.com/santos.studi0"
				logo="/Instagram_3.png"
			/>
			<Social
				link="https://www.linkedin.com/in/danisantos15/"
				logo="/linkedin.png"
			/>
			<Social link="https://github.com/danisntoss" logo="/github.png" />
		</Contacto>
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
