---
import Layout from "../layouts/Layout.astro";
import Introduccion from "../components/Introduction.astro";
import Vinilos from "../components/Vinilos.astro";
import Contacto from "../components/Contacto.astro";
// import Card from '../components/Card.astro';
import Social from "../components/Social.astro";
import Bento from "../components/Bento.astro";
import BentoCard from "../components/BentoCard.astro";
---

<Layout title="Vinilos de corte | Dani Santos">
	<Introduccion slot="welcomePage" />
	<main slot="main">
		<Vinilos>
			<!-- <Card  title="Proyecto 1" img="/imgs/metro.jpg" description=" Vinilo creado para la multinacional metro con el fin de arreglar la estética de una de las paradas más icónicas de todo Madrid"/> -->
			<Bento>
				<BentoCard
					slot="slot1"
					title="Metro"
					image="/imgs/metro.jpg"
					url="/imgs/metro.jpg"
					information="dfssdfdsfdsfsdfsdfsdfsf"
				/>
				<BentoCard
					slot="slot2"
					title="Trenes"
					image="/imgs/metro.jpg"
					url="/imgs/metro.jpg"
					information="sdfdsfdsfdsfdsdadadwadwadawdawd"
				/>
				<BentoCard
					slot="slot3"
					title="dfdsfdsf"
					image="/imgs/metro.jpg"
					url="/imgs/metro.jpg"
					information="sdfdsfdsfsdfdsfsdfdsfsdfsdf"
				/>
				<BentoCard
					slot="slot4"
					title="sfsdfdfsf"
					image="/imgs/metro.jpg"
					url=""
					information="sdfdsfdsfsdfsfdfsdfsdfsdfsdfsdf"
				/>
			</Bento>
		</Vinilos>
		<Contacto>
			<Social
				link="https://www.instagram.com/danisntoss_"
				logo="/Instagram_3.png"
			/>
			<Social
				link="https://www.linkedin.com/in/danisantos15/"
				logo="/linkedin.png"
			/>
			<Social link="https://github.com/danisntoss" logo="/github.png" />
		</Contacto>
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
