---
---

<div class="bento-grid">
    <div class="bento-grid-item a"><slot name="slot1" /></div>
    <div class="bento-grid-item b"><slot name="slot2" /></div>
    <div class="bento-grid-item c"><slot name="slot3" /></div>
    <div class="bento-grid-item d"><slot name="slot4" /></div>
</div>

<style>
    .bento-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .bento-grid-item {
        min-height: 380px;
        display: flex;
    }

    .bento-grid-item.a {
        grid-column: 1 / 8;
    }
    .bento-grid-item.b {
        grid-column: 8 / 13;
    }
    .bento-grid-item.c {
        grid-column: 1 / 6;
    }
    .bento-grid-item.d {
        grid-column: 6 / 13;
    }

    @media (max-width: 1024px) {
        .bento-grid {
            grid-template-columns: 1fr;
            gap: 16px;
        }
        .bento-grid-item.a,
        .bento-grid-item.b,
        .bento-grid-item.c,
        .bento-grid-item.d {
            grid-column: 1 / -1;
        }
    }
</style>
