
<section>
    <div class="bento-grid">
        <div class="bento-grid-item a">
            <slot name="slot1" />
        </div>
        <div class="bento-grid-item b">
            <slot name="slot2" />
        </div>
        <div class="bento-grid-item c">
            <slot name="slot3" />
        </div>
        <div class="bento-grid-item d">
            <slot name="slot4" />
        </div>
    </div>
</section>

<style>
    section {
        width: 100%;
        margin-bottom: 30px;
    }

    .bento-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 30px;
    }

    @keyframes show {
        from {
            transform: scale(0.75);
        }

        to {
            transform: scale(1);
        }
    }

    .bento-grid-item {
        view-timeline-name: --image;
        view-timeline-axis: block;

        animation-timeline: --image;
        animation-name: show;

        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-range: entry 25% cover 30%;
    }

    .bento-grid-item.a {
        grid-column: 1 / 8;
        grid-row: 1 / 5;
    }

    .bento-grid-item.b {
        grid-column: 8 / 13;
        grid-row: 1 / 5;
    }

    .bento-grid-item.c {
        grid-column: 1 / 6;
        grid-row: 5 / 9;
    }

    .bento-grid-item.d {
        grid-column: 6 / 13;
        grid-row: 5 / 9;
    }
    @media (max-width: 1024px) {
        .bento-grid {
            grid-template-columns: repeat(
                1,
                1fr
            );
            grid-template-rows: auto;
        }

        .bento-grid-item.a,
        .bento-grid-item.b,
        .bento-grid-item.c,
        .bento-grid-item.d {
            grid-column: 1 / -1;
            grid-row: auto;
        }
        .bento-grid-item.d {
            margin-bottom: 50px;
        }
    }
</style>
