---
const { image, name, description } = Astro.props;
---

<div class="main-content">
  <h1>{name}</h1>
  <img src={image} alt={name} />
  <p>{description}</p>
  <a href="/">Volver</a>
</div>

<style>
  .main-content {
      height: auto; /* Cambiado de 100% a auto para adaptarse al contenido */
      width: 90%; /* Ajusta el ancho para no ocupar todo el ancho de la pantalla */
      max-width: 700px; /* Establece un ancho máximo para grandes pantallas */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      padding: 1rem;
      border-radius: 10px;
      margin: 1rem auto; /* Centra la tarjeta en la página */
  }
  
  .main-content h1 {
      font-size: 4vw; /* Hace el tamaño del texto responsive */
      margin-bottom: 1rem;
  }
  
  .main-content img {
      width: 100%; /* Mantiene la imagen responsive */
      max-width: 100%; /* Asegura que la imagen no sobrepase el ancho de la tarjeta */
      margin-bottom: 1rem;
      border-radius: 10px;
  }
  
  .main-content p {
      margin-bottom: 1rem;
      padding: 0 5%; /* Añade padding para no tocar los bordes */
      text-align: center; /* Centra el texto */
  }
  
  .main-content a {
      font-weight: bold; /* Corrige la propiedad de estilo de fuente */
      font-size: 1.5rem;
      margin-top: 1rem;
      background-color: var(--col4);
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-decoration: none; /* Elimina el subrayado del enlace */
      color: white; /* Cambia el color del texto para mejorar la legibilidad */
  }
  
  @media (max-width: 768px) {
    .main-content {
        padding: 0.5rem; /* Reduce el padding en pantallas pequeñas */
        margin: 0.5rem; /* Reduce el margen para usar mejor el espacio */
    }

    .main-content h1 {
        font-size: 6vw; /* Ajusta el tamaño del texto si es necesario */
    }

    .main-content p, .main-content a {
        font-size: 5vw; /* Ajusta el tamaño del texto para mantener la proporcionalidad */
    }
}
  </style>
