---
const { img, title, description } = Astro.props;
---

<section>
<div class="main-card">
  <div class="image">
    <img src={img} alt="" />
  </div>
  <div class="title">
    <h1>{title}</h1>
  </div>
</div>
<div class="description">
    <p>{description}</p>
</div>
</section>

<style>
    

  section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
    height: 450px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  .main-card {
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .image{
    height: 100%;
    width:100%;
  }
  img {
    object-fit:cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 100%;
        /* border: 1px solid black */
    }
    h1 {
        font-size: 1.5rem;
    }
    .description {
        display:flex;
        flex: 0 0 40%;
        overflow: hidden;  /* TODO revisar esta propiedad en el responsive */
        justify-content: top;
        align-items: top;
        height: 100%;
        width: 100%;
        padding: 15px;
        line-height: 1.6;
        letter-spacing: 1px;
    }
</style>
