<section id="Contacto">
<div class="contacto-main">
    <h1 class="titulo-contacto">Contacto</h1>
    <p>Para más información: escribe a danisntoss00@gmail.com</p>
</div>
</section>
<style>
    .contacto-main {
        text-align: center;
        margin: 100px auto;
        width: 80%;
        background-color: white;
        border-radius: 10px;
    }
    .titulo-contacto {
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }
</style>
        