<div class="contacto-main">
    <h1>Contacto</h1>
    <p>Para más información: escribe a danisntoss00@gmail.com</p>
</div>
<style>
    .contacto-main {
        text-align: center;
        margin-top: 100px;
    }