---
import Clipboard from "./Clipboard-Icon.astro";
---

<section id="Contacto">
  <h1>Sobre Mí</h1>
  <div class="texto-info">
    <p>Me llamo <b>Daniel Santos,</b> soy estudiante de Ingeniería en Software.
      Además de interesarme por la tecnología, me divierto diseñando
      vinilos de corte, para decorar espacios y darle un toque personal a
      cualquier lugar.
    </p>
  </div>
  <div class="informacion-contacto">
    <span>danisntoss00@gmail.com</span>
    <button> <Clipboard /></button>
  </div>
  <div class="socials">
    <slot />
  </div>

</section>

<style>
 @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap');
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 2rem;
  }
  h1 {
    font-size: 5rem;
  }
  p,b {
    
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 35px;
  }
  p{
    font-weight: 500;
  }
  span {
    font-family: Architects Daughter, cursive;
    font-size: 2.5rem;
    width: 100%;
    font-style: italic;
  }

  button {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #000;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: #fff;
    }
  }

  .texto-info {
    width: 100%;
    max-width: 600px;
  }
  .informacion-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 20px;
    padding: 20px;
    width: 600px;
    background: url("/HOJA-DE-MIERDA.svg") no-repeat;
    background-size: cover;

  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 2rem;
    }
  }
  @media (max-width:650px){
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 1.7rem;
    }
  }
  @media (max-width: 450px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 1.3rem;
    }
  }
  @media (max-width: 350px) {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: .9rem;
    }
  }




</style>
<script>
  function copiarCodigo() {
    navigator.clipboard.writeText("danisntoss00@gmail.com");
    console.log("Copiado");
  }
  document.querySelector("button").addEventListener("click", copiarCodigo);
</script>
