---
import Clipboard from "./Clipboard-Icon.astro";
---

<section id="Contacto">
  <h1>Contáctame</h1>
  <div class="wrapper">
  <div class="text-section">
  <div class="texto-info">
    <p>Me llamo <b>Daniel Santos,</b> soy estudiante de Ingeniería en Software.
      Si tienes algún proyecto en mente, no dudes en contactarme, estaré encantado de ayudarte.
    </p>
  </div>
  
  <div class="informacion-contacto">
    <span>danisntoss00@gmail.com</span>
    <button>
      <span>Cópiame</span>
      <Clipboard />
    </button>
  </div>
  </div>
  <div class="image-section">
      <img src="/call.png" alt="call-animoji">
    </div>
  </div>
  <div class="socials">
    <slot />
  </div>

</section>

<style>
  section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  h1 {
    font-size: 5rem;
  }
  p,b {
    
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 35px;
  }
  p{
    font-weight: 500;
  }
  span {
    font-size: 2.5rem;
    font-style: italic;
    width: 100%;
  }

  button {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #000;
    gap: 10px;
    background-color: var(--col5);
    box-shadow: 3px 3px 0px rgba(0,0,0,1);
    transition: all 0.3s;
    &:hover {
      filter: brightness(90%);
      box-shadow: none;
      transform: translateY(4px);
    }
    span {
      font-size: 1.3rem;
      font-style: normal;

    }
  }

  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

}
.text-section{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
  .texto-info {
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff71;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-size: cover;
    
  }
  .informacion-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff71;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-size: cover;

  }
  
  .image-section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff71;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-size: cover;
    width: 35%;
    img{
    width: 100%;
    
  }}
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 2rem;
    }
    .wrapper{
      flex-direction: column;
    }
    .image-section img{
      height: 40%;
    }
  }
  @media (max-width:650px){
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 1.7rem;
    }
  }
  @media (max-width: 450px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: 1.3rem;
    }
  }
  @media (max-width: 350px) {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    .informacion-contacto {
      width: 100%;
      padding: 10px;
    }
    span{
      font-size: .9rem;
    }
  }




</style>
<script>
  function copiarCodigo() {
    navigator.clipboard.writeText("danisntoss00@gmail.com");
    console.log("Copiado");
  }
  document.querySelector("button").addEventListener("click", copiarCodigo);
</script>
