---
const year = new Date().getFullYear()
---

<footer>
    <p>Created with <a id="tech--link" href="https://astro.build/" target="_blank">Astro</a></p>
    <p> © - {year} Dani Santos</p>
</footer>

<style>
    footer {
        width: 100%;
        height: 150px;
        background-color: #1E1E1E;
        color: #eee;
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        padding: 1rem;
        font-size: 0.8rem;
    }
    p{
        color: #eee;
    }
    #tech--link {
        color: #eee;
    }
</style>