<header>
    <nav id="menu">
        <img src="./logo-web-circulo.svg" alt="" />
        <a href="#introduction"><b>Inicio</b></a>
        <a href="#Proyectos"><b>Proyectos</b></a>
        <a href="#Contacto"><b>Contacto</b></a>
    </nav>
</header>
<style>
    header {
        width: 100%;
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    nav {
        background: #eee;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 20px;
        gap: 15px;
        border-radius: 20px;
        box-shadow: 0 0 10px #0000004d;
    }
    /* img styles */
    img {
        width: 50px;
    }

    /* a styles */
    a {
        padding: 5px 15px 5px;
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: inherit;
    }
    a:hover {
        background-color: #fab005;
        border-radius: 4px;
    }
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }
    a {
        padding: 5px 15px 5px;
    }
    img {
        width: 40px;
    }
}


</style>
