---
import Button from "./Button.astro";
import MessageIcon from "./icons/MessageIcon.astro";
---

<header>
    <nav id="menu">
        <Button type="secondary" link="/">
            <img src="./logo.svg" alt="Santos Studio Logo" />
        </Button>
        <Button type="secondary" name="Hablemos" link="/contacto">
            <MessageIcon color="black" />
        </Button>
    </nav>
</header>
<style>
    header {
        width: 100%;
        min-height: var(--nav-height);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    nav {
        height: 100%;
        width: 100%;
        max-width: 1800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px 8px 16px;
        gap: 16px;
        background: #fff;
    }
    img {
        width: 50px;
    }

    a {
        padding: 5px 15px 5px;
        color: black;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
    }
    a:visited {
        color: inherit;
    }
    a:hover {
        transform: translateY(-2px);
        cursor: pointer;
    }
</style>
