<nav>
    <h1>Vinilos Dani Santos</h1>
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <!-- añadir links a las partes de la página con la información correspondiente -->
        <li><a href="">Vinilos</a></li>  
        <li><a href="">Contacto</a></li>
    </ul>
</nav>
<style>
nav {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 75px;
        background: #eee;
        color: #555;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: space-between;
        ul{
            text-align: right;
        }
    }
</style>