<section id="introduction" >
    <h1>Hola! Soy Dani, </h1>
    <p>
    estudiante de <b>Ingeniería Software</b>
    </p>
</section>
<style>
    section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 20px;
        width: 60%;

    }
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.5rem;
        width: 75%;
    }  
    b{
        font-size: 1.3em;

    }
</style>