<div class="intro">
    <h1>Hola! </h1>
    <p>introcuccion texto ejemplo </p>
</div>
<style>
    .intro {
        text-align: center;
        margin-top: 100px;
    }
    .intro h1 {
        font-size: 50px;
    }
    .intro p {
        font-size: 20px;
    }  
</style>