---
const { title, link, logo } = Astro.props;
---

<section>
  <a target="_blank" href={link}>
    {title}
    <img src={logo} alt={title}>
  </a>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.5rem;
    }
    
    a:hover {
        color: var(--color-primary);
    }
    
    img {
        width: 2rem;
        height: 2rem;
        margin-left: 0.5rem;
    }
</style>
