---
const { link, logo } = Astro.props;
---

<section>
  <a target="_blank" href={link}>
    
    <img src={logo} alt="">
  </a>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        padding: 15px;
        background: none;
        cursor: pointer;
    }
    
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.5rem;
    }
    
    a:hover {
        color: var(--color-primary);
    }
    
    img {
        width: 2rem;
        height: 2rem;
    }
</style>
