<section id="Vinilos">
  <h1>Mis Vinilos</h1>
  <main>
    <slot />
  </main>
</section>

<style>
  section {
    gap: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }
  h1 {
    font-size: 5rem;
  }
  main {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
</style>
