---
interface Props {
	title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { CONSTANTS } from "../data/constants";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content={CONSTANTS.webdata.author} />
		<meta name="description" content={CONSTANTS.webdata.description} />
		<meta name="keywords" content={CONSTANTS.webdata.keywords} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title || CONSTANTS.webdata.title}</title>
	</head>
	<body>
		<Header />
		<section class="hero">
			<slot name="hero" />
		</section>
		<main>
			<slot name="main" />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	
	:root {
		--col1: #ffe5ec;
		--col2: #ffc2d1;
		--col3: #ffb3c6;
		--col4: #ff8fab;
		--col5: #fb6f92;
		--text-color: #000;
		--bg-color: #fff;
		--nav-height: 70px;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Poppins", system-ui, sans-serif;
		font-size: 18px;
		color: var(--text-color);
		scroll-behavior: smooth;
		scrollbar-width: thin;
		scrollbar-color: #666 #f7f7f7;
	}

	section.hero {
		width: 100%;
		padding-top: var(--nav-height);
	}

	body {
		background: var(--bg-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
	}

	main {
		width: 100%;
		padding: 24px 64px;
		max-width: 1240px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		gap: 4rem;
		margin-bottom: 2rem;
	}
	@media (max-width: 768px) {
		main {
			padding: 24px 32px;
		}
	}
	@media (max-width: 480px) {
		main {
			padding: 24px 16px;
		}
	}
</style>
