---
interface Props {
	title: string;
}

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-web-circulo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
	
</html>

<style is:global>
	:root{
		
 	--bg-color:#ff8f08;
 	--color2:#ffc108;
 	--color3: #ffec3b;
 	--color4:  #fffb89;
	--color5: #fffbcb;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 18px;
		color: var(--text-color)
	}

	body{
	/* background: #eee url(/cartographer.png); */
	/* background-color: #fab005; */
	background-color: var(--bg-color);

	}
	main {
		width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		
    }
</style>
